body {
    font-size: 14px;
    font-family: 'Georgia', "Hiragino Sans GB", serif;
    color: #555;
    padding: 0;
    margin: 0;
    -webkit-text-size-adjust:none;
    background: #fbfbfb;
}


.container {
    width: 830px;
    margin: 0 auto;
    position: relative;
}

.container80 {
    width: 80%;
    margin: 0 auto;
    position: relative;
}


#header{
    background: #ca2f33;
    position: relative;
    height: 50px;
    margin: 0;
    padding: 0;
}

#header h1{
    font-size: 2.5em;
    line-height: 2.2em;
    margin: 0;
    text-align: left;
}


#nav {
    font-size: 1em;
    padding: 0;
    position: absolute;
    right:0;
}


#nav li{
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
}


#nav a {
    font-family: "Coda","Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    text-decoration: none;
    color: #fff;
    padding: 1px 15px;
}

#nav a:hover, #nav a.current:hover{
    text-decoration: underline;
}

#nav a.current{
    color: #000000;
}

#nav a.current:before{
    content: 'at ';
    color: #ccc;
    font-size: 12px;
}


#description{
    height: 280px;
    overflow: hidden;
    position: relative;
    background:  url('images/grid-18px-masked.png') repeat-x 0 0;
}

#description_bg{
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #222;
    top:0;
}

#description_content{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    z-index: 20;

}


#description .slogan{
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    width: 100%;
    background: url(images/pointers.png) repeat-x left bottom;
    overflow: hidden;

}

/* with bg starts*/
#description .with_bg .slogan{
    padding: 0;
    background: none;

}

#description .with_bg .slogan_content{
    background:#fff;
    background: rgba(255,255,255,0.65);
    filter: Alpha(Opacity=65);
}
/* with bg ends*/

#description .slogan_content{
    margin: auto 15%;
    padding: 10px 3%;
    font-size: 1.2em;
    line-height: 2.0em;

}



/* for post starts */

#posts .pager a, #posts .info a{
  text-decoration: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

#posts .pager{
    margin-top: 150px;
}

#posts .post{
    position: relative;
    margin: 7em 0;
    letter-spacing: 1px;
}

#posts .detail_post{
    margin: 5em 0 7em 0;
}

#posts .post .post_body{
    font-size: 16px;
}

#posts .post p{
    line-height: 2.0em;
    margin: 15px 0;
    word-wrap:break-word;
    overflow:hidden;
}

#posts .post .p_part p{
    line-height: 1.85em;
}


#posts p a:hover{
    color: #E60900;
    text-decoration: underline;
    border-bottom: none;
}

#posts p a{
    color: #222;
    border-bottom: 1px dashed #999
}


#posts .post .title {
	font-size: 2.2em;
	line-height: 1.35em;
	text-align: left;
	padding: 0.5em 0 ;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 25px;
}

#posts .post .title a:before{
	font-family: FontAwesome;
	display: inline-block;
    content: "\F06C";
	font-size: 12px;
	padding-right: 7px;
    vertical-align: bottom;
    margin-bottom: -6px;
    color: #555;
}



#posts .post .toc{
    margin-top: -26px;
}

#posts .post .title a{
    color: #333;
}

#posts .post .title a:hover{
    color: #E60900;
}



#posts .post .info{
    position: relative;
    margin-top: 20px;
    padding: 1.1em;
	border-top: 1px solid #eff3f4;
	border-bottom: 1px solid #eff3f4;
	font-size: 0.9em;
    line-height: 2em;
}

#posts .detail_post .info{
    margin-top: 35px;
}

#posts .post .info span{
    margin-right: 30px
}

#posts .post .info a i{
    font-size: 10px;
    color: #999;
}

#posts .post .info a:hover i{
    color: #E60900;
}

#posts .post .info .date {
    font-size: 0.8em;
    letter-spacing: 1px;
}

#posts .post .info .visitors{
    font-size: 0.85em;
}


#posts .post .info .tags{
    display: inline-block;
}

#posts .info .tags a{
    font-size: 0.9em;
    padding: 2px;
    margin-right: 5px;
}

#posts .info .tags a:hover{
    color: white;
    background: #E60900;
}


#posts .post .info .read_more{
    padding: 0;
    position: absolute;
    top:15px;
    right: 0;
}

#posts .post .info .read_more a{
    color: #E60900;
    padding: 2px;
}

#posts .post .info .read_more a:hover{
    color:#ffffff;
    background: #E60900;
}

    /* post footer ends*/


/* others in post starts*/

#posts .post img{
    max-width: 98%;
    display: block;
    margin: 1em auto 1.8em auto;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}

/* others in post ends*/




#content .comments{
    margin: 85px 0 35px 0;
}



/* for post  ends */



/* for image list starts*/

#image_list{
    list-style-type: none;
    display:inline-block;
    zoom:1;
    *display:inline;
    clear: both;
    padding: 0;
    margin-top: 50px;

}

#image_list li{
    display: inline;
    position: relative;
    float: left;
    width:320px;
    height:214px;
    overflow: hidden;
    margin: 8px;

    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}



#image_list img{
    width:320px;
    border: none;

}

#image_list li:hover{
    -webkit-box-shadow: 0 0 5px red;
    -moz-box-shadow: 0 0 5px red;
    box-shadow: 0 0 5px red;
}

#image_list a:hover img{
    border-left: 1px solid red;
}


#image_list .folder span{
    bottom:0;
    left:1px;
    position: absolute;
    height:30px;
    width:300px;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    background: #000;
    background: rgba(0,0,0,0.5);
    filter: Alpha(Opacity=50);
    padding:0 10px;
    z-index: 1000;
}


/* for image list ends*/


#images_container{
    position: relative;
    width: 100%;
}


.bread_nav{
    position: absolute;
    top: 1.9em;
    left: 0;
    letter-spacing: 1px;
    z-index: 100;
    padding: 0 10px;
    margin: 0;
    background: #b3b3b3;
    background: rgba(150,150,150,0.5);;
    color: #fdfdfd;
    font-size: 0.9em;
}



.bread_nav a{
    color: #fff;
}

.bread_nav a:hover{
    border-bottom: 1px dashed #fff;
}

.bread_nav li{
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
}



#image{
    margin:50px auto;
    position: relative;
    min-height: 50px;
}

#image img{
    position: relative;
    z-index: 0;
    display: block;
    max-width: 100%;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.3);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

#image .info{
    position: absolute;
    right:0;
    bottom: 0;
    background: rgba(150,150,150,0.5);
    color: #fdfdfd;
    font-size: 0.9em;
    z-index: 999;
}

/* connected images */
#image .connected_images{
    position: absolute;
    z-index: 99;
    top:0;
    width:100%;
    height: 100%;
}

#image .connected_images a{
    display: block;
    width:50%;
    float: left;
    height:100%;
}

#image .connected_images span{
    font-size: 1.2em;
    color:#fff;
    letter-spacing: 2px;
    bottom:20px;
    display: none;
    position: absolute;
    top: 45%;
}


#image .connected_images a{
    background: #9b9b9b;
    background: rgba(0, 0, 0, 0);
    filter: Alpha(Opacity=0);
}

#image .connected_images a:hover{
    background: #9b9b9b;
    background: rgba(0, 0, 0, 0.3);
    filter: Alpha(Opacity=30);
    border: none;

}

#image .connected_images a:hover span{
    display: block;
}


#image .connected_images .pre{
    left:0;
}

#image .connected_images .pre span{
    left:5px;
}

#image .connected_images .next{
    right:0;
}

#image .connected_images .next span{
    right:5px;
}

/* connected images ends*/



/* for categories*/



#categories{
    list-style-type: none;
    display:inline-block;
    zoom:1;
    *display:inline;
    clear: both;
    padding: 0;
    margin-top: 50px;
}

#categories li{
    float: left;
    position: relative;
}

#categories li a{
    margin: 20px;
    width: 200px;
    float: left;
    height: 230px;
    background: #fff;
    border: 1px solid #c8c8c8;
    padding: 60px 30px;
}


#categories li a:hover{
    border: 1px solid #b7b7b7;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.2);
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

#categories li a:hover h3{
    padding-left: 2px;
}

#categories li h3{
    font-size: 1.3em;
    word-wrap:break-word;
    overflow:hidden;
}

#categories li span{
    color: #999;
    font-size: 0.8em;
}



/* for archive*/

.list_with_title{
    font-size: 16px;
    padding: 0;
    margin: 50px auto;
}

.list_with_title li{
    list-style-type: none;
    padding: 0;
}


.list_with_title .listing_title {
    font-weight: bold;
    line-height: 2.2em;
    margin: 50px 0 5px 0;
    font-size: 1.4em;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.list_with_title .listing{
    margin: 0;
    padding: 0;
}


.list_with_title .listing li{
    line-height: 2.9em;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding: 0 5px;
    text-align: left;
    font-weight: normal;
    *font-size: 16px;
}


.list_with_title .date {
    position: absolute;
    right: 5px;
    color: #999999;
    font-size: 14px;
}





/* paginator */
.pager{
    position:relative;
    height:57px;
    margin:50px 0;
}

.pager a{
    color: #333;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 5.0;
    text-align: center;
    border: 1px solid #d3d3d3;

    /*for IE*/
    *line-height: 1.8;
    line-height: 1.8\9;
}

.pager a:hover{
    color:#fff;
    background: #E60900;
}

.pager .next{
    position: absolute;
    right:0;
}

.pager .pre{
    position: absolute;
    left:0;
}

#images_container .pager .pre{
    left: 10%;
}

#images_container .pager .next{
    right: 10%;
}


.round{
    width: 57px;
    height: 57px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    display: block;

    width: expression('60px');
    height: expression('20px');

}

#footer{
    margin-top: 80px;
}


/* Custom sizes
============================================================================================== */

@media screen and (max-width: 768px) {
    /* ipad Êú£¬ iphoneºá */
    .container, .container80{
        width: 85%;
    }

    #description .slogan_content{
        margin: auto 0;
    }

    #posts .post p{
        line-height: 1.7em;
    }
}


@media screen and (max-width: 480px) {
    /* Add your styles for devices with a maximum width of 480 */
    .container, .container80{
        width: 95%;
    }

    .bread_nav{
        top: 4em;
        background: #555;
    }

    #posts .pager{
        margin-top: 20px;
    }

    #posts .post .title{
        font-size: 1.3em;
        font-weight: bold;
        text-align: left;
    }

    #posts .post .title a:before{
        margin-bottom: 0;
    }

}


@media screen and (max-width: 320px) {
    /* iphone Êú*/
    .container{
        width: 92%
    }

    .container80{
        width: 95%;
    }

    #image_list li{
        width: 93.5%;
        margin: 0;
        padding:0 3.25%;
    }

    #description{
        height: 300px;
    }


    #posts .post{
        margin: 5em 0;
    }

    #nav a {
        padding: 1px 10px;
    }



    #image_list li{
        margin: 10px;
        display: block;
        padding: 0;
    }

    #image_list li img{
        width: 300px;
    }



}



/*iphone ºá*/
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation: landscape) {

    .container80{
        width: 95%;
    }

    #description{
        height: 300px;
    }


    #images_container .bread_nav{
        top: 0;
    }


}





@media screen and (min-width: 1240px) {
    .container{
        width: 900px;
    }

}


@media screen and (max-width: 860px) {
    .container{
        width: 90%;
    }

}


/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .container {
        width: 75%;
    }
}
/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* Add your styles for devices with a maximum width of 768 */
}


